.zcompdump*
.zcompdump-YvesPC-5.8.1
.zcompdump-YvesPC-5.8.1.zwc
lazygit/state.yml

.zcompdump-NADPF45XZL2-5.8.1
.zcompdump-NADPF45XZL2-5.8.1.zwc
VirtualBox
azuredatastudio
dconf
enchant
eog
evolution/sources
gedit
gtk-3.0
ibus/bus
pop-system-updater
pulse
sqlops/MySQL
touchegg
.zcompdump-pop-os-5.8.1
.zcompdump-pop-os-5.8.1.zwc
QtProject.conf
gnome-initial-setup-done
mimeapps.list
user-dirs.dirs
user-dirs.locale
nvim/lazy-lock.json
qtile/__pycache__
xfce4/xfconf/xfce-perchannel-xml
.gsd-keyboard.settings-ported
Thunar
nvim/lazy-lock.json
JetBrains/IntelliJIdea2023.3
gtk-2.0
wireshark
discord
libaccounts-glib
obsidian
session
systemd/user
xsettingsd
KDE
kde.org
kde.org
drkonqirc
gtkrc
gtkrc-2.0
kcminputrc
kfontinstuirc
kglobalshortcutsrc
kiorc
krecentconnections
kwinoutputconfig.json
kwinrc
plasma-org.kde.plasma.desktop-appletsrc
systemmonitorrc
trashrc
GIMP/2.10
device_automounter_kcmrc
discoverrc
kactivitymanagerd-statsrc
kconf_updaterc
kded5rc
konsolerc
kscreenlockerrc
ksmserverrc
kxkbrc
WebCord
autostart
discord-screenaudio
fcitx
obs-studio/logs
obs-studio/plugins/StreamFX
obs-studio/profiler_data
teams-for-linux
baloofileinformationrc
filetypesrc
kdeglobals
kgammarc
krunnerrc
plasma.emojierrc
plasmanotifyrc
plasmashellrc
spectaclerc
Google/AndroidStudio2023.3
flutter
jxbrowser/7.27/crash-reports
gwenviewrc
dolphinrc
qt5ct
qt6ct
.config/nvim/lazy-lock.json
